header
    .header.d-flex.align-items-center.justify-content-center.flex-column
        h1.header__title.mb-5.text-center There is no other platforms for you as like 
        button.header__play.d-flex.align-items-center.justify-content-center.mb-5
            <i class="fas fa-play position-relative"></i>
        <button type="button" class="btn btn-danger mb-3 header__try">TRY NOW</button>
        p.header__note * No need to add cards details
