/**
   * @param $direction: horizontal vertical both
   example : @include center(both) || @include center(horizontal) || @include center(vertical)
   */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

ol,
ul,
li {
  list-style: none;
  margin: 0; }

a,
a:hover {
  text-decoration: none; }

img {
  width: 100%;
  max-width: 100%; }

html {
  scroll-behavior: smooth; }

body,
input {
  font-family: "Exo", sans-serif;
  font-weight: 400;
  color: #282828;
  -webkit-appearance: none; }

body.modal-open {
  overflow: hidden; }

.small {
  font-size: 16px;
  color: #ff6d6d; }
  @media only screen and (max-width: 425px) {
    .small {
      font-size: 12px; } }

.title {
  font-size: 40px; }
  .title span {
    color: #ff6d6d; }
  @media only screen and (max-width: 425px) {
    .title {
      font-size: 24px; } }

p,
a {
  font-size: 16px;
  color: #a09f9e;
  font-weight: 500; }

a {
  text-decoration: underline; }

.pdt-100-respon {
  padding-top: 100px; }
  @media only screen and (max-width: 1024px) {
    .pdt-100-respon {
      padding-top: 50px; } }

.pdy-100-respon {
  padding: 100px 0; }
  @media only screen and (max-width: 1024px) {
    .pdy-100-respon {
      padding: 50px 0; } }

.section-des {
  height: 725px; }
  @media only screen and (max-width: 1024px) {
    .section-des {
      flex-direction: column;
      margin: 50px 0 0;
      height: auto; } }
  .section-des__info {
    flex: 1;
    padding: 0 150px; }
    @media only screen and (max-width: 1024px) {
      .section-des__info {
        margin-bottom: 50px; } }
    @media only screen and (max-width: 425px) {
      .section-des__info {
        padding: 0 15px;
        margin-bottom: 30px; } }
    .section-des__info h2 {
      margin-bottom: 20px !important; }
  .section-des__small {
    font-size: 16px;
    color: #ff6d6d; }
  .section-des__img {
    background-image: url(../images/section-des.jpg);
    background-size: cover;
    background-position: center center;
    width: 30%;
    height: 100%;
    position: relative; }
    @media only screen and (max-width: 1024px) {
      .section-des__img {
        width: 100%;
        min-height: 400px; } }

.section-feature {
  height: 547px;
  background-image: url(../images/section-feature.png);
  background-size: cover;
  background-position: center -60px;
  background-repeat: no-repeat; }
  @media only screen and (max-width: 1024px) {
    .section-feature {
      height: auto;
      background-position: center -20px; } }
  @media only screen and (max-width: 425px) {
    .section-feature {
      background-image: none;
      background-color: #f6f6f6; } }
  @media only screen and (max-width: 1024px) {
    .section-feature__title {
      margin-bottom: 20px !important; } }
  .section-feature__content-box img {
    width: 68px; }
  .section-feature__content-box h3 {
    font-size: 22px; }

.section-respon {
  height: 547px; }
  @media only screen and (max-width: 425px) {
    .section-respon {
      padding: 50px 0;
      height: auto; } }
  .section-respon__title {
    margin-top: 30px; }

.section-client {
  background-image: url(../images/client-bg.png);
  background-size: cover;
  background-position: center center;
  background-color: #333; }
  .section-client__box-img {
    border: 1px solid #333; }
    .section-client__box-img img {
      width: 77px;
      height: 77px; }
  .section-client__box-info h3 {
    color: #fff;
    font-size: 22px; }
  .section-client__logo {
    width: calc(100% / 5 - 80px);
    margin: 0 30px; }
    @media only screen and (max-width: 425px) {
      .section-client__logo {
        width: calc(100% / 3 - 20px);
        margin: 10px 5px; } }

.section-browser {
  background-color: #fff; }
  .section-browser__img {
    overflow: hidden;
    padding-bottom: 56.25%;
    height: 0;
    position: relative; }
    .section-browser__img img {
      margin-top: -500px; }
      @media only screen and (max-width: 425px) {
        .section-browser__img img {
          margin-top: -156px; } }

.section-form {
  height: 547px;
  background-color: #323969; }
  @media only screen and (max-width: 425px) {
    .section-form {
      height: auto; } }
  .section-form__title h2 {
    color: #fff; }
  @media only screen and (max-width: 425px) {
    .section-form__license {
      margin-top: 20px !important; } }
  .section-form__form input,
  .section-form__form button {
    display: inline-block;
    width: calc(100% / 4 - 20px) !important;
    height: 50px !important; }
    @media only screen and (max-width: 425px) {
      .section-form__form input,
      .section-form__form button {
        width: 100% !important;
        margin-top: 15px; } }
  .section-form__form input {
    margin-right: 20px;
    background-color: #474d78; }
    @media only screen and (max-width: 425px) {
      .section-form__form input {
        margin-right: 0; } }
  .section-form__form ::placeholder {
    color: #fff; }
  .section-form__form input,
  .section-form__form textarea {
    color: #fff; }
  .section-form__form button {
    background-color: #ff6d6d !important; }
  .section-form__form .note {
    top: -60px;
    right: 60px; }
    @media only screen and (max-width: 425px) {
      .section-form__form .note {
        top: -42px;
        left: 0;
        right: 0; } }
    .section-form__form .note span {
      color: #fff; }
    .section-form__form .note img {
      width: 50px;
      margin-right: -20px;
      position: relative;
      top: 10px; }

.header {
  height: 815px;
  background-image: url(../images/header.jpg);
  background-size: cover;
  background-position: center center; }
  .header h1 {
    font-size: 60px;
    font-weight: 200;
    color: #282828;
    width: 37%; }
    @media only screen and (max-width: 1024px) {
      .header h1 {
        width: 50%; } }
    @media only screen and (max-width: 425px) {
      .header h1 {
        width: 100%;
        font-size: 24px; } }
  .header__play {
    background-color: #8084a2;
    width: 60px;
    height: 60px;
    outline: none;
    border: none;
    border-radius: 100%; }
    .header__play i {
      right: -2px;
      color: #fff; }
  .header__try {
    padding: 10px 50px !important;
    background-color: #ff6d6d;
    outline: none;
    border: none; }
  .header__note {
    font-size: 14px;
    font-weight: 500; }

.footer {
  position: relative; }
  .footer__img img {
    width: 100px;
    object-fit: cover; }
  .footer__title {
    font-size: 22px; }
    @media only screen and (max-width: 425px) {
      .footer__title {
        margin: 14px 0 !important; } }
  .footer__form input {
    height: 50px !important;
    background-color: #f6f6f6;
    padding-left: 30px !important; }
  .footer__form ::placeholder {
    color: #b1b1b1;
    font-weight: 500; }
  .footer__form button {
    background-color: #ff6d6d !important;
    outline: none;
    border: none; }
