.footer {
    position: relative;
    &__img {
        img {
            width: 100px;
            object-fit: cover;
        }
    }
    &__title {
        font-size: 22px;
        @include max-breakpoint(425) {
            margin: 14px 0 !important;
        }
    }
    &__form {
        input {
            height: 50px !important;
            background-color: #f6f6f6;
            padding-left: 30px !important;
        }
        ::placeholder {
            color: #b1b1b1;
            font-weight: 500;
        }
        button {
            background-color: $primary-color !important;
            outline: none;
            border: none;
        }
    }
}
