html {
    scroll-behavior: smooth;
}

body,
input {
    font-family: $font-exo;
    font-weight: 400;
    color: $text-color;
    -webkit-appearance: none;
}

body.modal-open {
    overflow: hidden;
}

.small {
    font-size: 16px;
    color: $primary-color;
    @include max-breakpoint(425) {
        font-size: 12px;
    }
}

.title {
    font-size: 40px;
    span {
        color: $primary-color;
    }
    @include max-breakpoint(425) {
        font-size: 24px;
    }
}

p,
a {
    font-size: 16px;
    color: #a09f9e;
    font-weight: 500;
}

a {
    text-decoration: underline;
}

.pdt-100-respon {
    padding-top: 100px;
    @include max-breakpoint(1024) {
        padding-top: 50px;
    }
}

.pdy-100-respon {
    padding: 100px 0;
    @include max-breakpoint(1024) {
        padding: 50px 0;
    }
}
