extends ./includes/layout/layout
block pages
    include ./includes/components/section-des.pug
    include ./includes/components/section-feature.pug
    include ./includes/components/section-respon.pug
    include ./includes/components/section-client.pug
    include ./includes/components/section-browser.pug
    include ./includes/components/section-form.pug