.section-des.d-flex.align-items-center
    .section-des__info 
        span.small NEW DESIGN
        h2.mb-5.mt-3.w-50.title There is no other platforms for you as like 
            span ...
        p 
           | Aenean eu leo quam. Pellentesque ornare sem lacinia quam venena Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenaAenean eu leo quam. Pellentesque ornare sem lacinia quam venenaAenean eu leo quam. Pellentesque ornare sem lacinia quam venenaAenean eu leo quam. Pellentesque ornare sem lacinia quam venenaAenean eu leo quam. Pellentesque ornare sem lacinia quam venenaAenean eu leo quam. Pellentesque ornare sem lacinia quam venenaAenean eu leo quam
           br
           br
           | leo quam. Pellentesque ornare sem lacinia quam venena leo quam. Pellentesque ornare sem lacinia quam venena leo quam. Pellentesque ornare sem lacinia quam venena leo quam. Pellentesque ornare sem lacinia quam venena
    .section-des__img
                
