.section-respon
    .container.h-100
        .row.h-100.align-items-center
            .col-lg-6.col-md-6.col-12
                img(src="../assets/images/respon.png", alt="")
            .col-lg-6.col-md-6.col-12
                .section-respon__title.mb-4
                    span.small NEW DESIGN
                    h2.mb-0.title.mt-2 Resposive design, just need your tap 
                        span ....
                p.mb-0 Aenean eu leo quam. Pellentesque ornare sem lacinia quam venena Aenean eu leo quam. Pellentesque ornare sem lacinia quam venena Aenean eu leo quam. Pellentesque ornare sem lacinia quam venena Aenean eu leo quam. Pellentesque ornare sem lacinia quam venena