.section-form.pdy-100-respon
    .container
        .row.justify-content-center
            .col-lg-8.col-md-8.col-12
                .section-form__title.text-center
                    span.small NEW FEATURES
                    h2.title.mt-2 Over 1000 designers are using ...
            .col-12.pdt-100-respon
                form(action='' method='POST' role='form').section-form__form
                    .form-group.d-flex.position-relative.flex-wrap
                        input.form-control(type='text' id='' placeholder='FULL NAME')
                        input.form-control(type='email' id='' placeholder='YOUR EMAIL')
                        input.form-control(type='pwd' id='' placeholder='PASSWORD')
                        button.btn.btn-danger(type='submit') TRY NOW
                        .note.position-absolute
                            img(src='../assets/images/arrow.png', alt="")
                            span 30 days free trial for all.
            .col-8.text-center.mt-5.section-form__license
                p By Signing up you agree to our 
                    a(href="#") terms & Services.
