.section-browser.pdt-100-respon
    .container
        .row.justify-content-center
            .col-lg-8.col-md-8.col-12
                .section-browser__title.text-center
                    span.small NEW FEATURES
                    h2.title.mb-4.mt-2 Some awesone features
                    p Aenean eu leo quam. Pellentesque ornare sem lacinia quam venena Aenean eu leo quam. Pellentesque ornare sem lacinia quam venena Aenean eu leo quam. Pellentesque ornare sem lacinia quam venena
            .col-12
                .section-browser__img 
                    img(src='../assets/images/browser-bg.png', alt="")
